<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <title>My App</title>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">
    <link rel="stylesheet" href="styles/app.css"/>


    <script src="lib/onsen/js/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="AppController">

<ons-navigator animation="slide" var="splash">
    <ons-page ng-controller="LanguageController">
        <ons-toolbar>
            <div class="center">Title</div>
        </ons-toolbar>

        <p style="text-align: center">
            <ons-button modifier="light"
                        ng-click="splash.pushPage('page.html', {onTransitionEnd:loadMainApp, lang: 'sp'});">Español
            </ons-button>
            <ons-button modifier="light"
                        ng-click="splash.pushPage('page.html', {onTransitionEnd:loadMainApp, lang: 'en'});">English
            </ons-button>
        </p>
    </ons-page>
</ons-navigator>

<ons-template id="page.html">
    <ons-page ng-controller="MainMenuController" var="mainPage">

        <p style="text-align: center">
            <ons-button modifier="light" ng-click="app.navi.popPage('page.html');">Pop</ons-button>
        </p>

        <ons-tabbar>
            <ons-tab page="guest.html" label="Page 1" icon="square" active="true"></ons-tab>
        </ons-tabbar>
    </ons-page>
</ons-template>

<ons-template id="guest.html">
    <ons-page class="guestpage" ng-controller="GuestController" var="guestPage">
        <ons-toolbar style="height:84px">
            <div class="center header-title">Guest List
                <ons-carousel ng-controller="GuestCarouselController" var="carouselSession" style="height:41px" overscrollable="" auto-scroll="" item-width="60px">
                    <ons-carousel-item class="session-item" ng-repeat="item in items">
                        <div class="session_day {{item.selected}}" ng-click="filterSessionDay($index);">{{item.day}}<span class="session_month">{{item.month}}</span></div>
                    </ons-carousel-item>
                </ons-carousel>
            </div>

        </ons-toolbar>

        <ons-scroller>
            <ons-list ng-controller="GuestListController">
                <ons-list-item class="guest_list_item" ng-repeat="item in items">

                    <div class="item-bg" style="background-image: url('{{item.list_image}}')">
                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <span class="title-big">{{item.title}}</span>
                                <span class="title-medium">{{item.place}}</span>
                                <span class="title-normal block">{{item.time}}</span>

                                <div class="button purple" ng-click="showGuestList('{{item.id}}')">GUEST LIST</div>
                                <div class="button" ng-click="showGuestInfo('{{item.id}}')">+ INFO</div>
                            </div>
                        </div>
                    </div>

                </ons-list-item>
            </ons-list>
        </ons-scroller>
    </ons-page>
</ons-template>

</body>
</html>
