<!doctype html>
<html lang="es" style="background:#000;">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>GoldenVip</title>
</head>

<body style="background-size:100% auto; background-color: #000;background-image: url('img/splash.png'); background-repeat:no-repeat; background-position: 0 0;">

<div id="app-wrapper" style="display:none">
<ons-modal var="modal">
    <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
</ons-modal>

<ons-navigator animation="slide" var="splash">
    <ons-page ng-controller="LanguageController" class="splash">
        <div align="center" class="languageButtons" style="margin-top:47%">
            <div class="button icon gray lang" ng-click="splash.pushPage('page.html', {lang: 'es'});">
                <span class="icon sp"></span> espa&ntilde;ol
            </div>
            <div class="button icon gray lang" ng-click="splash.pushPage('page.html', {lang: 'en'});">
                <span class="icon en"></span> english
            </div>
        </div>
    </ons-page>
</ons-navigator>

<ons-template id="page.html" var="languagePage">
    <ons-page ng-controller="MainMenuController" var="mainPage">
        <ons-tabbar var="mainTabBar">
            <ons-tab page="guest.html" label="{{labels.guest_list}}" class="tabicon icon-guest" icon="square" active="true"></ons-tab>
            <ons-tab page="clubs.html" label="{{labels.tab_clubs}}" class="tabicon icon-clubs" icon="square"></ons-tab>
            <ons-tab page="life.html" label="{{labels.tab_life}}" class="tabicon icon-life" icon="square"></ons-tab>
            <ons-tab page="promos.html" label="{{labels.tab_promos}}" class="tabicon icon-promos" icon="square"></ons-tab>
            <ons-tab page="profile.html" label="{{labels.tab_profile}}" class="tabicon icon-profile" icon="square"></ons-tab>
        </ons-tabbar>
    </ons-page>
</ons-template>

<ons-template id="guest.html">
    <ons-navigator animation="slide" var="guestNavigator">
    <ons-page class="guestpage carousel" ng-controller="GuestController" var="guestPage">
        <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;height:86px;">
            <div class="center header-title">{{labels.header_guest_list}}
                <ons-carousel ng-controller="GuestCarouselController" var="carouselSession" id="carouselSession" style="height:41px;background:#fff;" overscrollable="" auto-scroll="" item-width="50px">
                    <ons-carousel-item class="session-item" ng-repeat="item in calendar">
                        <div class="session_day {{item.selected}}" ng-click="filterSessionDay($index);"><span class="session_day_text">{{item.day}}</span><span class="session_month">{{item.month}}</span></div>
                    </ons-carousel-item>
                </ons-carousel>
            </div>

        </ons-toolbar>

        <ons-scroller>
            <ons-list>
                <ons-list-item class="guest_list_item" ng-repeat="item in items">

                    <div class="item-bg list">
                        <img onload="fadeIn(this)" src="{{item.images[0]}}" />
                    </div>

                    <div class="guesto-list-verlay overlay">
                        <div align="center" class="guest-list-item-content">
                            <p class="title-big">{{item.guest_list}} <span class="title-medium">{{labels.in}} {{item.club}}</span></p>
                            <p class="title-normal block">{{item.hour}}</p>
                        </div>

                        <div align="center" class="buttons">
                            <div class="button purple" ng-click="showGuestList($index)">GUEST LIST</div>
                            <div class="button" ng-click="showGuestInfo($index)">+ INFO</div>
                        </div>
                    </div>

                </ons-list-item>

                <ons-list-item class="guest_list_item" ng-show="no_data">

                    <div class="guesto-list-verlay overlay">
                        <div align="center" class="guest-list-item-content">
                            <p class="title-normal block">{{labels.no_data}}</p>
                        </div>
                    </div>

                </ons-list-item>
            </ons-list>
        </ons-scroller>
    </ons-page>
    </ons-navigator>
</ons-template>

<ons-template id="guest_list.html">
    <ons-page ng-controller="GuestListCardController" class="guestlist hascarousel">
        <ons-toolbar class="toolbar big" style="position:relative;background: none;border:none;">


            <div class="center">
                <div style="position:relative;">
                    <ons-carousel class="carousel-detail" var="guestListCarousel" style="position:relative;border-top: 0.1em solid #fa00c2;border-bottom: 0.1em solid #fa00c2;" overscrollable="" auto-scroll="">
                        <ons-carousel-item class="item-bg detail session-item" ng-repeat="item in pictures">
                            <img onload="fadeIn(this)" src="{{item.list_image}}" />
                        </ons-carousel-item>
                    </ons-carousel>

                    <div class="guesto-list-verlay overlay single" style="border-top: solid 0.1em #f701c4;border-bottom: solid 0.1em #f701c4;">
                        <ul id="guestListCarouselPaginator" var="guestListCarouselPaginator" align="center" class="carousel-paginator">
                            <li class="carousel-page {{item.selected}}" ng-repeat="item in pictures">
                            </li>
                        </ul>

                        <div align="center" class="guest-list-item-content">
                            <span class="title-big">{{detail.guest_list}} <span class="title-medium">{{labels.in}} {{detail.club}}</span></span>

                            <div align="center" class="buttons">
                                <div class="button" ng-click="showForm('{{detail.id}}')">GUEST LIST</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backButton" ng-click="splash.popPage('guest_info.html');"></div>
            </div>

        </ons-toolbar>

        <ons-scroller style="height:100%">
            <div>


                <div class="card-content">
                    <p>
                        <label>{{labels.guest_list}}</label>
                        <span>{{detail.guest_list}}</span>
                    </p>
                    <p>
                        <label>{{labels.club}}</label>
                        <span>{{detail.club}}</span>
                    </p>
                    <p>
                        <label>{{labels.address}}</label>
                        <span>{{detail.address}}</span>
                    </p>
                    <p>
                        <label>{{labels.hour}}</label>
                        <span>{{detail.hour}}</span>
                        <label>{{labels.metro}}</label>
                        <span>{{detail.metro}}</span>
                    </p>
                    <p>
                        <label>{{labels.ambient}}</label>
                        <span>{{detail.ambient}}</span>
                        <label>{{labels.accept_card}}</label>
                        <span>{{detail.accept_card}}</span>
                    </p>
                    <p class="content">
                       {{detail.content}}
                    </p>
                </div>
            </div>
        </ons-scroller>
    </ons-page>
</ons-template>

<ons-template id="guest_list_form.html">
    <ons-dialog style="/*height: 360px;*/" var="guestFormDialog" class="bottom-dialog" ng-controller="GuestListFormController">
        <ons-page>

            <form class="card-content" style="text-align: center;position:relative;">
                <div class="button close" ng-click="closeForm()">X</div>

                <div ng-show="reservation_inprogress">
                    <div class="user_data {{form_visible}}" style="">
                        <p>
                            <label></label>
                            <span>{{labels.fill_form}}</span>
                        </p>
                        <p>
                            <label>{{labels.first_name}}</label>
                            <input class="" ng-model="userData.first_name" type="text"/>
                        </p>
                        <p>
                            <label>{{labels.last_name}}</label>
                            <input class="" ng-model="userData.last_name" type="text"/>
                        </p>
                        <p>
                            <label>{{labels.email}}</label>
                            <input class="" ng-model="userData.email" type="email"/>
                        </p>
                        <p>
                            <label>{{labels.phone}}</label>
                            <input class="" ng-model="userData.phone" type="phone"/>
                        </p>
                    </div>

                    <div class="user_data {{detail_visible}}">
                        <p>
                            <span>{{labels.hi}} </span><span class="rosa">{{userData.first_name}} {{userData.last_name}}</span></span>
                            <br/>
                            <span>{{labels.complete_nro_persons}}</span>
                            <br/>
                            <span>{{labels.to_session}} {{detail.guest_list}} {{session.to_day}} {{detail.hour}}</span>
                            <br/>
                            <br/>
                        </p>
                    </div>


                    <p>
                        <label>{{labels.persons}}</label>
                        <label class="spinner">{{userData.persons}}</label>
                        <a class="button spinner" ng-click="increasePersons()">+</a>
                        <a class="button spinner" ng-click="decreasePersons()">-</a>
                    </p>

                    <p>
                        <label>&nbsp;</label>
                    <span style="display:inline-block;">
                        <input id="conditions" ng-model="userData.conditions" type="checkbox" name="check" value="check1">
                        <label class="checkbox" for="conditions">{{labels.conditions}}</label>
                    </span>
                    </p>

                    <p style="display:block;text-align:center;">
                        <a class="button" ng-click="confirm()">{{labels.confirm}}</a>
                    </p>
                </div>

                <div ng-show="reservation_complete">
                    <div class="user_data visible">
                        <p>
                            <span>{{labels.perfect}} </span><span class="rosa">{{userData.first_name}} {{userData.last_name}}</span>
                            <br/>
                            <span>{{labels.you_are_in_guest_list}} <span class="rosa">{{detail.club}}</span></span>
                            <br/>
                            <span>{{labels.for_session}} <span class="rosa">{{detail.guest_list}}</span> {{session.to_day}} {{detail.hour}}</span>
                            <br/>
                            <br/>
                            <span>{{labels.present_invitation}}</span>
                            <br/>
                            <span>{{labels.in_seccion}} <span class="rosa">{{labels.profile}}</span> {{labels.this_app}}</span>
                            <br/>
                            <span>{{labels.club_door}}</span>
                            <br/>
                            <br/>
                        </p>
                    </div>

                    <p style="display:block;text-align:center;">
                        <a class="button" ng-click="goToProfile()">{{labels.my_profile}}</a>
                    </p>
                </div>

            </form>
        </ons-page>
    </ons-dialog>
</ons-template>

<ons-template id="clubs.html">
    <ons-navigator animation="slide" var="clubsNavigator">
        <ons-page ng-controller="ClubsController" var="clubsPage" class="normal-page">
            <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;">
                <div class="center header-title">{{labels.header_clubs}}
                </div>

            </ons-toolbar>

            <ons-scroller>
                <ons-list>
                    <ons-list-item class="guest_list_item" ng-repeat="item in items">

                        <div class="item-bg list">
                            <img onload="fadeIn(this)" src="{{item.images[0]}}" />
                        </div>

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-big">{{item.name}}</p>
                                <p class="title-normal block">{{item.days}}</p>
                            </div>

                            <div align="center" class="buttons">
                                <div class="button" ng-click="showClubInfo($index)">+ INFO</div>
                            </div>
                        </div>

                    </ons-list-item>

                    <ons-list-item class="guest_list_item" ng-show="no_data">

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-normal block">{{labels.no_data}}</p>
                            </div>
                        </div>

                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-navigator>
</ons-template>


<ons-template id="club_info.html">
    <ons-page ng-controller="ClubInfoController" class="guestlist hascarousel">
        <ons-toolbar class="toolbar big" style="position:relative;background: none;border:none;">
            <div class="center">
                <div style="position:relative;">
                    <ons-carousel class="carousel-detail" var="clubListCarousel" style="position:relative;border-top: 0.1em solid #fa00c2;border-bottom: 0.1em solid #fa00c2;" overscrollable="" auto-scroll="">
                        <ons-carousel-item class="item-bg detail session-item" ng-repeat="item in pictures">
                            <img onload="fadeIn(this)" src="{{item.list_image}}" />
                        </ons-carousel-item>
                    </ons-carousel>

                    <div class="guesto-list-verlay overlay single" style="border-top: solid 0.1em #f701c4;border-bottom: solid 0.1em #f701c4;">
                        <ul id="guestListCarouselPaginator" var="guestListCarouselPaginator" align="center" class="carousel-paginator">
                            <li class="carousel-page {{item.selected}}" ng-repeat="item in pictures">
                            </li>
                        </ul>

                        <div align="center" class="guest-list-item-content">
                            <p class="title-big">{{detail.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="backButton" ng-click="splash.popPage('guest_info.html');"></div>
            </div>
        </ons-toolbar>

        <ons-scroller style="height:100%">
            <div>


                <div class="card-content">
                    <p>
                        <label>{{labels.sessions}}</label>
                        <span>{{detail.sessions}}</span>
                    </p>
                    <p>
                        <label>{{labels.address}}</label>
                        <span>{{detail.address}}</span>
                    </p>
                    <p>
                        <label>{{labels.hour}}</label>
                        <span>{{detail.hour}}</span>
                        <label>{{labels.metro}}</label>
                        <span>{{detail.metro}}</span>
                    </p>
                    <p>
                        <label>{{labels.ambient}}</label>
                        <span>{{detail.ambient}}</span>
                        <label>{{labels.accept_card}}</label>
                        <span>{{detail.accept_card}}</span>
                    </p>
                    <p class="content">
                        {{detail.content}}
                    </p>
                </div>
            </div>
        </ons-scroller>
    </ons-page>
</ons-template>

<ons-template id="life.html">
    <ons-navigator animation="slide" var="lifeNavigator">
        <ons-page ng-controller="LifeController" var="lifePage" class="normal-page">
            <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;">
                <div class="center header-title">Life
                </div>

            </ons-toolbar>

            <ons-scroller>
                <ons-list>
                    <ons-list-item class="guest_list_item" ng-repeat="item in items">

                        <div class="item-bg list">
                            <img onload="fadeIn(this)" src="{{item.images[0]}}" />
                        </div>

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-big">{{item.name}}</p>
                                <p class="title-normal block">{{item.cut_content}}</p>
                            </div>

                            <div align="center" class="buttons">
                                <div class="button" ng-click="showClubInfo($index)">+ INFO</div>
                            </div>
                        </div>

                    </ons-list-item>

                    <ons-list-item class="guest_list_item" ng-show="no_data">

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-normal block">{{labels.no_data}}</p>
                            </div>
                        </div>

                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-navigator>
</ons-template>

<ons-template id="life_info.html">
    <ons-page ng-controller="LifeInfoController" class="guestlist hascarousel">
        <ons-toolbar class="toolbar big" style="position:relative;background: none;border:none;">
            <div class="center">

                <div style="position:relative;">
                    <ons-carousel class="carousel-detail" var="guestListCarousel" style="position:relative;border-top: 0.1em solid #fa00c2;border-bottom: 0.1em solid #fa00c2;" overscrollable="" auto-scroll="">
                        <ons-carousel-item class="item-bg detail session-item" ng-repeat="item in pictures">
                            <img onload="fadeIn(this)" src="{{item.list_image}}" />
                        </ons-carousel-item>
                    </ons-carousel>

                    <div class="guesto-list-verlay overlay single" style="border-top: solid 0.1em #f701c4;border-bottom: solid 0.1em #f701c4;">
                        <ul id="guestListCarouselPaginator" var="guestListCarouselPaginator" align="center" class="carousel-paginator">
                            <li class="carousel-page {{item.selected}}" ng-repeat="item in pictures">
                            </li>
                        </ul>

                        <div align="center" class="guest-list-item-content">
                            <p class="title-big">{{detail.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="backButton" ng-click="splash.popPage('life_info.html');"></div>
            </div>
        </ons-toolbar>

        <ons-scroller style="height:100%">
            <div>


                <div class="card-content">
                    <p>
                        <label>{{labels.open}}</label>
                        <span>{{detail.open}}</span>
                    </p>
                    <p>
                        <label>{{labels.type}}</label>
                        <span>{{detail.type}}</span>
                    </p>
                    <p>
                        <label>{{labels.address}}</label>
                        <span>{{detail.address}}</span>
                    </p>
                    <p>
                        <label>{{labels.hour}}</label>
                        <span>{{detail.hour}}</span>
                        <label>{{labels.metro}}</label>
                        <span>{{detail.metro}}</span>
                    </p>
                    <p>
                        <label>{{labels.ambient}}</label>
                        <span>{{detail.ambient}}</span>
                        <label>{{labels.accept_card}}</label>
                        <span>{{detail.accept_card}}</span>
                    </p>
                    <p class="content">
                        {{detail.content}}
                    </p>
                </div>
            </div>
        </ons-scroller>
    </ons-page>
</ons-template>

<ons-template id="promos.html">
    <ons-navigator animation="slide" var="promoNavigator">
        <ons-page ng-controller="PromosController" var="promoPage" class="normal-page">
            <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;">
                <div class="center header-title">Promos
                </div>

            </ons-toolbar>

            <ons-scroller>
                <ons-list>
                    <ons-list-item class="guest_list_item" ng-repeat="item in items">

                        <div class="item-bg list">
                            <img onload="fadeIn(this)" src="{{item.images[0]}}" />
                        </div>

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-big">{{item.name}}</p>
                                <p class="title-normal block">{{item.cut_content}}</p>
                            </div>

                            <div align="center" class="buttons">
                                <div class="button" ng-click="showInfo($index)">+ INFO</div>
                            </div>
                        </div>

                    </ons-list-item>

                    <ons-list-item class="guest_list_item" ng-show="no_data">

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-normal block">{{labels.no_data}}</p>
                            </div>
                        </div>

                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-navigator>
</ons-template>

<ons-template id="promo_info.html">
    <ons-page ng-controller="PromoInfoController" class="guestlist hascarousel">
        <ons-toolbar class="toolbar big" style="position:relative;background: none;border:none;">
            <div class="center">

                <div style="position:relative;">
                    <ons-carousel class="carousel-detail" var="promoListCarousel" style="position:relative;border-top: 0.1em solid #fa00c2;border-bottom: 0.1em solid #fa00c2;" overscrollable="" auto-scroll="">
                        <ons-carousel-item class="item-bg detail session-item" ng-repeat="item in pictures">
                            <img onload="fadeIn(this)" src="{{item.list_image}}" />
                        </ons-carousel-item>
                    </ons-carousel>

                    <div class="guesto-list-verlay overlay single" style="border-top: solid 0.1em #f701c4;border-bottom: solid 0.1em #f701c4;">
                        <ul id="promoListCarouselPaginator" var="guestListCarouselPaginator" align="center" class="carousel-paginator">
                            <li class="carousel-page {{item.selected}}" ng-repeat="item in pictures">
                            </li>
                        </ul>

                        <div align="center" class="guest-list-item-content">
                            <p class="title-big">{{detail.name}}</p>
                            <p class="title-normal block">{{detail.cut_content}}</p>
                        </div>
                    </div>
                </div>

                <div class="backButton" ng-click="splash.popPage('promo_info.html');"></div>
            </div>
        </ons-toolbar>

        <ons-scroller style="height:100%">
            <div>

                <div class="card-content">
                    <p>
                        <label>{{labels.open}}</label>
                        <span>{{detail.open}}</span>
                    </p>
                    <p>
                        <label>{{labels.type}}</label>
                        <span>{{detail.type}}</span>
                    </p>
                    <p>
                        <label>{{labels.address}}</label>
                        <span>{{detail.address}}</span>
                    </p>
                    <p>
                        <label>{{labels.hour}}</label>
                        <span>{{detail.hour}}</span>
                        <label>{{labels.metro}}</label>+
                        <span>{{detail.metro}}</span>
                    </p>
                    <p>
                        <label>{{labels.ambient}}</label>
                        <span>{{detail.ambient}}</span>
                        <label>{{labels.accept_card}}</label>
                        <span>{{detail.accept_card}}</span>
                    </p>
                    <p class="content">
                        {{detail.content}}
                    </p>
                </div>
            </div>
        </ons-scroller>
    </ons-page>
</ons-template>

<ons-template id="profile.html">
    <ons-navigator animation="slide" var="profileNavigator">
        <ons-page ng-controller="ProfileController" var="promoPage" class="normal-page">
            <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;">
                <div class="center header-title" style="font-family: 'FuturaStd-Medium';font-size: 1em;position:relative;">{{labels.setup_my_data}}
                    <div class="rightButton" ng-click="profileNavigator.pushPage('profile_detail.html');"></div>
                </div>
            </ons-toolbar>

            <ons-scroller>
                <ons-list>
                    <ons-list-item class="guest_list_item" ng-repeat="item in items">

                        <div class="item-bg list">
                            <img onload="fadeIn(this)" src="{{item.images[0]}}" />
                        </div>

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-big">{{item.title}} <span class="title-medium">{{item.club}}</span></p>
                                <p class="title-normal block">{{item.subtitle}}</p>
                            </div>

                            <div align="center" class="buttons">
                                <div class="button" ng-click="validate($index)" style="font-size: 0.8em;height: 2em;padding-left: 0.4em;padding-right: 0.4em;">{{labels.validate}}</div>
                            </div>
                        </div>

                    </ons-list-item>

                    <ons-list-item class="guest_list_item" ng-show="no_guest_list">

                        <div class="guesto-list-verlay overlay">
                            <div align="center" class="guest-list-item-content">
                                <p class="title-normal block">{{labels.no_guest_list}}</p>
                            </div>
                        </div>

                    </ons-list-item>
                </ons-list>
            </ons-scroller>
        </ons-page>
    </ons-navigator>
</ons-template>


<ons-template id="profile_detail.html">
    <ons-page ng-controller="ProfileDetailController" class="normal-page">
        <ons-toolbar class="toolbar" style="border-bottom:0.1em solid #fa00c2;">
            <div class="center header-title" style="font-family: 'FuturaStd-Medium';font-size: 1em;position:relative;">{{labels.back_to_my_guest_list}}
                <div class="backButton" ng-click="profileNavigator.popPage('profile_detail.html');"></div>
            </div>
        </ons-toolbar>

        <ons-scroller style="height:100%">
            <div class="profile-sections">

                <div align="center">
                    <p class="title-big">{{labels.my_data}}</p>

                    <div class="">
                        <div class="form card-content user_data {{detail_visible}}">
                            <p>
                                <label>{{labels.first_name}}</label>
                                <span>{{userData.first_name}}</span>
                            </p>
                            <p>
                                <label>{{labels.last_name}}</label>
                                <span>{{userData.last_name}}</span>
                            </p>
                            <p>
                                <label>{{labels.email}}</label>
                                <span>{{userData.email}}</span>
                            </p>
                            <p>
                                <label>{{labels.phone}}</label>
                                <span>{{userData.phone}}</span>
                            </p>
                        </div>

                        <div class="form card-content user_data {{form_visible}}">
                            <p>
                                <label class="editable">{{labels.first_name}}</label>
                                <input type="text" ng-model="userData.first_name" required />
                            </p>
                            <p>
                                <label class="editable">{{labels.last_name}}</label>
                                <input type="text" ng-model="userData.last_name" required />
                            </p>
                            <p>
                                <label class="editable">{{labels.email}}</label>
                                <input type="email" ng-model="userData.email" required />
                            </p>
                            <p>
                                <label class="editable">{{labels.phone}}</label>
                                <input type="phone" ng-model="userData.phone" required />
                            </p>
                        </div>

                        <div class="form card-content">
                            <div class="button" ng-click="actionForm()" style="font-size: 0.8em;height: 2em;padding-left: 0.4em;padding-right: 0.4em;padding-bottom: 2.3em;display: inline-block;">{{label_edit}}</div>
                        </div>
                    </div>

                </div>


                <div align="center">
                    <p class="title-big">{{labels.idiom}}</p>
                    <div class="button icon gray lang" ng-click="updateLanguage('es')">
                        <span class="icon sp"></span> espa&ntilde;ol
                    </div>
                    <div class="button icon gray lang" ng-click="updateLanguage('en')">
                        <span class="icon en"></span> english
                    </div>
                </div>


                <div align="center" style="margin-bottom:2em;">
                    <p class="title-big">{{labels.alerts}}</p>
                    <div class="button gray" ng-click="updateNotifications('1')">
                        Si
                    </div>
                    <div class="button gray" ng-click="updateNotifications('0')">
                        No
                    </div>
                </div>
            </div>
        </ons-scroller>
    </ons-page>
</ons-template>
</div>

<link rel="stylesheet" href="lib/onsen/css/onsenui.css">
<link rel="stylesheet" href="lib/onsen/css/onsen-css-components-blue-basic-theme.css">
<link rel="stylesheet" href="styles/app.css"/>

<script src="jquery1.7.1.min.js"></script>
<script src="lib/onsen/js/angular/angular.js"></script>

<script src="cordova.js"></script>
<script src="lib/onsen/js/onsenui.js"></script>

<script src="lib/moment-with-locales.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
